@font-face {
  font-family: "RuneScape";
  src: url("./assets/RuneScape-UF.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "RuneScape";
  line-height: 1.5;
  font-weight: 500;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

select,
input {
  font-family: "RuneScape";
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background-color: #4f5f71;
  border: 1vw solid transparent;
  border-image: url("./assets/Dragonbun-ItemBorder36.png") 30 round;
  /* position: relative; */
}

h1 {
  font-size: 2.2em;
  line-height: 0.5;
  font-stretch: ultra-expanded;
}

h2 {
  font-family: "RuneScape";
  font-size: 1.8em;
  font-stretch: ultra-expanded;
  color: #535bf2;
  background-color: rgba(0.5, 0.5, 0.5, 0.4);
}

header {
  background-color: #54697f;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
}

#app {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  height: 400px;
  background-image: url("./assets/app-background.png");
  background-position: center;
  background-size: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  font-family: "RuneScape";
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.timer-buttons {
  display: flex;
  justify-content: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#task-list {
  border-radius: 10px;
  height: 300px;
  width: 80vw;
  flex-direction: column;
  display: flex;
  overflow-x: auto;
  word-wrap: break-word;
  font-size: 1.3em;
  background-color: rgba(0.5, 0.5, 0.5, 0.4);
}

.task-container {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgba(0.5, 0.5, 0.5, 0.4);
  color: #ffff00;
}

.task-text-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* width: 100%; */
}

.task-category-div p {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  color: #54697f;
}

#completed-tasks {
  border-radius: 10px;
  height: 300px;
  width: 80vw;
  flex-direction: column;
  display: flex;
  overflow-x: auto;
  word-wrap: break-word;
  font-size: 1.3em;
  background-color: rgba(0.5, 0.5, 0.5, 0.4);
}

#task-section {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
}

.flex-direction-column {
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
}

#left-container {
  margin: 1vw;
  margin-right: 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 1vw;
  border: 1vw solid transparent;
  padding: 4px;
  height: 100%;
  width: 95%;
  border-image: url("./assets/Dragonbun-ItemBorder36.png") 30 round;
}

#right-container {
  margin: 1vw;
  margin-right: 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  border: 1vw solid transparent;
  padding: 4px;
  height: 100%;
  width: 95%;
  border-image: url("./assets/Dragonbun-ItemBorder36.png") 30 round;
}
.design1 {
  background-image: url("./assets/fullbackground.jpeg");
  background-size: cover;
}
.design2 {
  background-image: url("./assets/flyingisland.gif");
  background-size: cover;
}
#rightPriorityFilter {
  justify-self: end;
  align-self: center;
  grid-area: 1/1/2/2;
}
#leftPriorityFilter {
  justify-self: end;
  align-self: center;
  grid-area: 1/1/2/2;
}
h3 {
  grid-area: 1/1/2/2;
  align-self: center;
  margin: auto;
}
#h3 {
  font-size: 20px;
  display: grid;
  flex-direction: column;
  width: 80vw;
  border: 1vw solid transparent;
  padding: 4px;
  border-image: url("./assets/Dragonbun-ItemBorder36.png") 30 round;
  margin: 1vh;

  background-color: rgba(0.5, 0.5, 0.5, 0.4);
}

input[type="text"] {
  padding: 10px;
  transition: width 0.6s ease-in-out, height 0.6s ease-in-out;
  border: 1vw solid transparent;
  border-image: url("./assets/Dragonbun-ItemBorder36.png") 30 round;
  margin-top: 10px;
  justify-content: center;
}
input[type="text"]:focus {
  width: 80%;
  height: 20%;
}

label {
  padding: 10px;
  margin-bottom: 10px;
}

select {
  margin-bottom: 10px;
}

#app-area-size {
  width: 100vw;
  height: 400px;
}

#task-area-size {
  width: 99%;
  height: 900px;
}

form {
  font-size: 1.5em;
}

#tbox {
  background-color: rgba(0.5, 0.5, 0.5, 0.4);
  display: grid;
  align-items: center;
  grid-template-columns: 30% 5% 30% 5% 30%;
  grid-template-rows: 1fr 1fr 1fr;
  border: 1vw solid transparent;
  border-image: url("./assets/Dragonbun-ItemBorder36.png") 30 round;
  position: fixed;
  bottom: 0;
  right: 3%;
  /* transform: translateX(-50%); */
  z-index: 1;
}
#m5,
#m10,
#m15,
#reset,
#start {
  background-color: #1a1a1a;
  margin-top: 0;
  cursor: pointer;
}
#m5 {
  grid-area: 1/1/2/2;
}
#m10 {
  grid-area: 1/3/2/4;
}
#m15 {
  grid-area: 1/5/2/6;
}
#start {
  grid-area: 3/1/4/2;
}
#reset {
  grid-area: 3/3/4/6;
}
#display-time {
  grid-area: 2/1/3/6;
}

#timer-container {
  display: flex;
}

.phone-timer-section {
  display: flex;
  position: sticky;
  bottom: 0;
  left: 1%;
  width: 99%;
  height: 90px;
  background-color: #4f5f71;
  z-index: 0;
  /* border-image: url("./assets/Dragonbun-ItemBorder36.png") 30 round;
  border-image-width: 0% 1% 3% 1%; */
}
#timer-section {
  display: flex;
  flex-wrap: wrap;
}
#aclock {
  height: 60px;
  width: 130px;
}
.complete-button {
  border: 5px solid transparent;
  /* padding: 0.6em 1.2em; */
  width: 110px;
  height: 50px;
  font-size: 100%;
  font-weight: 500;
  font-family: "RuneScape";
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  border-image: url("./assets/Dragonbun-ItemBorder3.png") 20 repeat;
}
.submit-button {
  border-radius: 2px;
  border: 5px solid transparent;
  width: 140px;
  height: 65px;
  font-size: 1em;
  font-weight: 500;
  font-family: "RuneScape";
  background-color: #1a1a1a;
  color: #ffff00;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 40px;
  border-image: url("./assets/Dragonbun-ItemBorder36.png") 30 round;
}
input::placeholder {
  font-size: 1.2em;
}
.clock-button {
  border-radius: 8px;
  border: 5px solid transparent;
  color: #ffff00;
  font-size: 1.5em;
  font-weight: 500;
  font-family: "RuneScape";
  background-color: rgba(0.5, 0.5, 0.5, 0.4);
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 30px;
  border-image: url("./assets/Dragonbun-ItemBorder36.png") 30 round;
  margin-bottom: 10px;
  position: fixed;
  bottom: 0;
  left: 50%;
  /* Moves the middle of the box to the middle istead of the start of the box */
  transform: translateX(-50%);
  z-index: 1;
}
.cat-design {
  display: flex;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50px;
  right: 30px;
  transform: scaleX(-1);
}

.progress-bar {
  position: fixed;
  bottom: 5%;
  left: 3%;
  z-index: 1;
}
.xp-to-lvl {
  position: fixed;
  bottom: 6%;
  left: 3%;
  z-index: 1;
}
meter {
  border: 1px solid #ccc;
}

.player-icon-design {
  position: fixed;
  bottom: 2%;
  left: 0;
  z-index: 1;
}

@media only screen and (min-width: 1000px) {
  .flex-container {
    display: flex;
    justify-content: space-between;
  }
  #task-section {
    flex-direction: row;
  }
  #right-container {
    width: 48%;
    margin-top: 60px;
  }
  #left-container {
    width: 48%;
    margin-top: 60px;
  }
  #task-area-size {
    height: 650px;
  }
  #task-list {
    width: 90%;
    height: 80%;
  }
  #completed-tasks {
    width: 90%;
    height: 80%;
  }
  .progress-bar {
    position: absolute;
    top: 22vh;
    left: auto;
    right: 15.5vw;
    bottom: auto;
  }
  .xp-to-lvl {
    position: absolute;
    top: 25vh;
    left: auto;
    right: 15vw;
    bottom: auto;
  }

  .player-icon-design {
    position: absolute;
    top: 25vh;
    left: auto;
    right: 17vw;
    bottom: auto;
    /* border-image: url("./assets/Dragonbun-ItemBorder36.png") 30 round;
    border-image-width: 4% 4% 4% 4%; */
  }

  #flex-container flex-direction-column {
    position: relative;
  }

  #timer-container {
    display: flex;
  }

  .clock-button {
    position: absolute;
    top: 13vh;
    left: 5vw;
    bottom: auto;
    transform: none;
  }

  #tbox {
    background-color: rgb(79, 95, 113, 0.4);
    display: grid;
    align-items: center;
    grid-template-columns: 30% 5% 30% 5% 30%;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1vw solid transparent;
    border-image: url("./assets/Dragonbun-ItemBorder36.png") 30 round;
    position: absolute;
    top: 23vh;
    left: 5vw;
    right: auto;
    bottom: auto;
  }

  .phone-timer-section {
    display: none;
  }
  #rightPriorityFilter {
    justify-self: end;
    align-self: center;
    grid-area: 1/1/2/2;
  }
  #leftPriorityFilter {
    justify-self: end;
    align-self: center;
    grid-area: 1/1/2/2;
  }
  #h3 {
    font-size: 20px;
    display: grid;
    width: 40vw;
    border: 1vw solid transparent;
    padding: 4px;
    border-image: url("./assets/Dragonbun-ItemBorder36.png") 30 round;
    margin: 1vh;

    background-color: rgba(0.5, 0.5, 0.5, 0.4);
  }
  #m5 {
    margin-top: 0;
    grid-area: 1/1/2/2;
  }
  #m10 {
    margin-top: 0;
    grid-area: 1/3/2/4;
  }
  #m15 {
    margin-top: 0;
    grid-area: 1/5/2/6;
  }
  #start {
    margin-top: 0;
    grid-area: 3/1/4/2;
  }
  #reset {
    margin-top: 0;
    grid-area: 3/3/4/6;
  }
  #display-time {
    grid-area: 2/1/3/6;
  }
}
