:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background-color: #4f5f71;
  border: 1vw solid transparent;
  border-image: url("./assets/Dragonbun-ItemBorder36.png") 30 round;
}

h1 {
  font-size: 2.2em;
  line-height: 0.5;
  font-stretch: ultra-expanded;
}

h2 {
  font-family: inherit;
  font-size: 1.8em;
  font-stretch: ultra-expanded;
  color: #535bf2;
  background-color: rgba(0.5, 0.5, 0.5, 0.4);
}

header {
  background-color: #54697f;
  width: 100%;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
}

#app {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  height: 400px;
  background-image: url("./assets/app-background.png");
  background-position: center;
  background-size: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#task-list {
  border-radius: 10px;
  height: 300px;
  width: 80vw;
  flex-direction: column;
  display: flex;
  overflow-x: auto;
  word-wrap: break-word;
  font-size: 1.3em;
  background-color: rgba(0.5, 0.5, 0.5, 0.4);
}

#completed-tasks {
  border-radius: 10px;
  height: 300px;
  width: 80vw;
  flex-direction: column;
  display: flex;
  overflow-x: auto;
  word-wrap: break-word;
  font-size: 1.3em;
  background-color: rgba(0.5, 0.5, 0.5, 0.4);
}

#task-section {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
}

.flex-direction-column {
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
}

#left-container {
  margin: 1vw;
  margin-right: 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 1vw;
  border: 1vw solid transparent;
  padding: 4px;
  height: 100%;
  width: 95%;
  border-image: url("./assets/Dragonbun-ItemBorder36.png") 30 round;
  background-image: url("./assets/fullbackground.jpeg");
  background-size: cover;
}

#right-container {
  margin: 1vw;
  margin-right: 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  border: 1vw solid transparent;
  padding: 4px;
  height: 100%;
  width: 95%;
  border-image: url("./assets/Dragonbun-ItemBorder36.png") 30 round;
  background-image: url("./assets/fullbackground.jpeg");
  background-size: cover;
}

h3 {
  font-size: 20px;
  width: 40vw;
  border: 1vw solid transparent;
  padding: 4px;
  border-image: url("./assets/Dragonbun-ItemBorder36.png") 30 round;
  margin: 1vh;

  background-color: rgba(0.5, 0.5, 0.5, 0.4);
  display: flex;
  justify-content: center;
}

input[type="text"] {
  padding: 10px;
  transition: width 0.6s ease-in-out, height 0.6s ease-in-out;
  border: 1vw solid transparent;
  border-image: url("./assets/Dragonbun-ItemBorder36.png") 30 round;
  margin-top: 10px;
  justify-content: center;
}
input[type="text"]:focus {
  width: 80%;
  height: 20%;
}

label {
  padding: 10px;
  margin-bottom: 10px;
}

select {
  margin-bottom: 10px;
}

#app-area-size {
  width: 100vw;
  height: 400px;
}

#task-area-size {
  width: 99%;
  height: 900px;
}
#tbox {
  border: 1vw solid transparent;
  border-image: url("./assets/Dragonbun-ItemBorder36.png") 30 round;
}
#timer-container {
  display: flex;
}
#timer-section {
  display: flex;
  flex-wrap: wrap;
}
#aclock {
  height: 60px;
  width: 130px;
}
.complete-button {
  border: 5px solid transparent;
  padding: 0.6em 1.2em;
  width: 110px;
  height: 50px;
  font-size: 70%;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  border-image: url("./assets/Dragonbun-ItemBorder3.png") 20 repeat;
}
.submit-button {
  border-radius: 2px;
  border: 5px solid transparent;
  padding: 0.6em 1.2em;
  width: 140px;
  height: 50px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #ffff00;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 40px;
  border-image: url("./assets/Dragonbun-ItemBorder36.png") 30 round;
}
.clock-button {
  border-radius: 8px;
  border: 5px solid transparent;
  color: #ffff00;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 30px;
  border-image: url("./assets/Dragonbun-ItemBorder36.png") 30 round;
  text-align: center;
  margin-bottom: 10px;
}
.cat-design {
  display: flex;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50px;
  right: 30px;
  transform: scaleX(-1);
}

@media only screen and (min-width: 1000px) {
  .flex-container {
    display: flex;
    justify-content: space-between;
  }
  #task-section {
    flex-direction: row;
  }
  #right-container {
    width: 48%;
    margin-top: 60px;
  }
  #left-container {
    width: 48%;
    margin-top: 60px;
  }
  #task-area-size {
    height: 650px;
  }
  #task-list {
    width: 90%;
    height: 80%;
  }
  #completed-tasks {
    width: 90%;
    height: 80%;
  }
}
